@media only screen and (max-width: 3000px) {
  :root {
    font-size: 35px;
  }
}

@media only screen and (max-width: 2300px) {
  :root {
    font-size: 30px;
  }
}

@media only screen and (max-width: 1750px) {
  :root {
    font-size: 25px;
  }
}

@media only screen and (max-width: 1500px) {
  :root {
    font-size: 22px;
  }

  .login {
    width: 50%;
    padding: 3.5rem;
  }
}

@media only screen and (max-width: 1400px) {
  :root {
    font-size: 25px;
  }

  .user-icon {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  :root {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  :root {
    font-size: 18px;
  }

  body {
    padding: 1.5rem;
  }

  /* HEADER AND NAVS */

  .user-icon {
    display: none;
  }

  .dark {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  /* LOGIN AND CREATE ACCOUNT FORM */
  .login {
    width: 65%;
  }

  /* MAIN APP */
  .app {
    display: block;
  }

  .dashboard {
    width: 70%;
  }

  /* UTILITIES SECTION */
  .figures,
  .transfer-form,
  .loan-form {
    width: 85%;
  }

  /* PERSONAL INFORMATION SECTION  SETTINGS*/
  .acc-user {
    margin: 1.5rem auto 1rem auto;
  }

  .main-info {
    width: 95%;
  }

  /* UI DISPLAY SETTINGS SECTION */
  .UIs,
  .modes {
    width: 90%;
  }

  .UIs div,
  .modes div {
    width: 6rem;
    height: 5rem;
  }

  /* TERMS & CONDITIONS */
  .body-condition {
    width: 95%;
  }

  /* CHANGE PASSWORD */
  .change {
    width: 95%;
  }

  /* ********* */
  /* ASIDE */
  .aside {
    display: none;
  }

  .aside-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
  }

  /* MODAL BOXES */
  .modal {
    width: 80%;
  }
}

/* HIDDEN OPACITY AND TRANSITIONS */
.hidden {
  display: none;
}

.opacity {
  opacity: 0;
}

.side-transitions {
  transform: translateX(40%);
}

/* .modal-transition {
  transform: scale(0.7) translate(-75%, -50%);
  top: 50%;
  left: 50%;
} */

@media only screen and (max-width: 730px) {
  :root {
    font-size: 18px;
  }

  .login {
    width: 70%;
  }

  .dashboard {
    width: 80%;
  }

  .amount {
    font-size: 0.8rem;
  }

  .aside-mobile {
    width: 70%;
  }
}

@media only screen and (max-width: 650px) {
  body {
    padding: 1rem;
    padding-top: 2.3rem;
  }

  .login {
    width: 75%;
  }

  .login-container {
    top: 7rem;
  }

  .dates {
    padding: 1rem;
  }

  .welcome,
  .last-login {
    margin-bottom: 0.2rem;
  }

  .dashboard {
    width: 85%;
    /* margin: 1.2rem auto 3.8rem auto; */
    padding: 1.5rem;
  }

  .balance {
    font-size: 1.85rem;
  }

  .figures {
    width: 95%;
  }

  .trans-container {
    height: 22rem;
  }

  .transfer-form,
  .loan-form {
    width: 95%;
  }

  .payments-options {
    width: 100%;
  }

  .setting-page {
    padding: 2rem 0.5rem;
  }

  .setting-heading {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }

  .setting-items {
    width: 90%;
    /* padding: 0.6rem; */
    padding-left: 0.6rem;
  }

  .title-heading {
    font-size: 1.2rem;
  }

  .title-desc {
    font-size: 1rem;
  }

  .settings-group {
    width: 90%;
  }

  .main-info {
    width: 95%;
  }

  .UIs,
  .modes {
    width: 95%;
  }

  .UIs div,
  .modes div {
    width: 5rem;
    height: 4rem;
  }

  .aside-mobile {
    width: 75%;
  }

  /* .modal {
    width: 110%;
  } */
}

@media only screen and (max-width: 550px) {
  /* :root {
    font-size: 18px;
  } */

  .dark,
  .light {
    display: none;
  }

  header h1 {
    font-size: 1.3rem;
  }

  .bank-icon {
    width: 2.65rem;
    height: 2.65rem;
  }

  .users,
  .menu-icon {
    width: 2rem;
    height: 2rem;
  }

  .login {
    width: 85%;
  }

  label {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .login-input,
  .newAcc-input,
  .transfer-input,
  .loan-input,
  .change-pword-input {
    font-size: 0.9rem;
    padding: 0.7rem;
  }

  .error-message,
  .pword-error {
    font-size: 0.9rem;
    margin-top: 0.7rem;
  }

  .login-button,
  .register-button,
  .transfer-button,
  .loan-button {
    font-size: 0.95rem;
  }

  .create-text,
  .sign-in {
    font-size: 1rem;
  }

  .welcome,
  .last-login {
    font-size: 1rem;
  }

  .cur-date,
  .last-date {
    font-size: 0.8rem;
  }

  .dashboard {
    width: 90%;
  }

  .acc-name {
    font-size: 1rem;
  }

  .acc-no {
    font-size: 1rem;
  }

  /* .balance {
    font-size: 1.8rem;
  } */

  .label {
    font-size: 0.8rem;
  }

  span.labelValue {
    font-size: 1rem;
  }

  .figure-heading {
    font-size: 1.4\rem;
  }

  /* .type {
    font-size: 0.8rem;
  }

  .desc {
    font-size: 0.7rem;
  }

  .trans-date {
    font-size: 0.6rem;
  }

  .amount {
    font-size: 0.8rem;
  } */

  .loan-input {
    font-size: 1rem;
  }

  .payments-options {
    width: 85%;
    gap: 2rem;
  }

  .icon-container {
    padding: 1rem 1.3rem;
    margin: 0 auto;
  }
  .payments-icon {
    width: 1.5rem;
  }

  .modal {
    width: 90%;
  }

  /* .setting-page {
    padding: 2rem 0.5rem;
  } */

  .setting-heading {
    font-size: 1.5rem;
  }

  .setting-items {
    width: 85%;
  }

  .title-heading {
    font-size: 1rem;
  }

  .title-desc {
    font-size: 0.8rem;
  }

  .settings-group {
    width: 85%;
  }

  .main-info {
    width: 95%;
  }
}
